    body{
        margin: 0;
        font-family: 'Dancing Script', cursive;
        background-color: #02010a;
      }
      #contenido{
        width:900px;
        margin: 0 auto;
      }
      #header{
        width: 100%;
        background-color:#5b7989;
        border-radius: 10px 10px 0 0;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      #head-menu{
        word-spacing: 2em;
      }
      navbar a:active{
        text-decoration:overline;
      }
      #head-title{

      }
      header>h1{
        color:white;
        text-shadow: 2px 2px  #02010a;
      }
      	#principal{
      	background-color: #82c3a6;
        padding: 5%;
      	}
       #secundaria{
          display: flex;
          flex-direction: row;
          background-color: #d5c75f;
          text-align: center;
        }
      figure{
          margin:5%;
      	}
      figcaption{
        display:none;
      }
        img{
          width: 100%;
          -moz-box-shadow: 2px 2px 2px #02010a;
          -webkit-box-shadow: 2px 2px 2px #02010a;
          box-shadow: 2px 2px 2px #02010a;
          border: 1px solid black;
        }

        #imagen2 figure img:hover{
          transform:rotate(10deg);
          border: 2px solid black;
          -moz-box-shadow: 2px 2px 2px #82c3a6;
          -webkit-box-shadow: 2px 2px 2px #82c3a6;
          box-shadow: 2px 2px 2px #82c3a6;
        }
        #imagen3 figure img:hover{
          transform:translate(20px, -5px);
          border: 2px solid black;
          -moz-box-shadow: 2px 2px 2px #82c3a6;
          -webkit-box-shadow: 2px 2px 2px #82c3a6;
          box-shadow: 2px 2px 2px #82c3a6;
        }

        footer{
          border-radius: 0 0 10px 10px;
          background-color:#C6d5c5;
          margin:0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        footer>div>h3:first-child{
          text-align: center;
        }
        footer>div>p{
          text-align: center;
        }
        footer>div{
          flex-basis: 25%;
        }

        @media (min-width:900px){
          #header{
            width: 100%;
          }
          #head-menu{
            word-spacing: 2em;
            margin-left: 35%;
            margin-top: 2em;
            vertical-align: middle;

          }
        }
        @media (max-width:900px){
          #contenido{
            width:100%
          }
          #header{
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }
          #secundaria{
             display: flex;
             flex-direction: column;
             background-color: #d5c75f;
             text-align: center;
           }
           footer{
             clear:both;
             border-radius: 0 0 10px 10px;
             background-color:#C6d5c5;
             display: flex;
             flex-direction: column;
             flex-wrap: wrap;
           }
           footer>div>h3:first-child{
             text-align: center;
           }
           footer>div>p{
             text-align: center;
           }
        }
